.home-section {
    font-size: 2.2rem;
    display: flex;

    &__loader {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .numbers {
        width: var(--md);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        line-height: 1.5;
        color: var(--background-light);
        margin-right: var(--md);
    }
}
