@use '../../../scss/mixins' as *;

.tab {
    min-width: 20rem;
    font-size: 1.6rem;
    @include flex(column, initial, initial);
    gap: var(--xs);
    cursor: pointer;

    &:hover {
        &__upper-name {
            color: var(--white);
        }
    }

    &__upper {
        @include flex(row, flex-start, center);
        gap: var(--xs);
        padding: 0 var(--xs);

        &-name {
            color: var(--background-light);
        }
    }

    &__lower-bar {
        width: 100%;
        height: 0.1rem;

        &--active {
            background-color: var(--brackets-col);
        }
    }

    @media screen and (max-width: 1080px) {
        height: 5rem;
    }
}
