.code-editor {
    white-space: pre;
    line-height: 1.5;
    transition: var(--transition);

    pre {
        margin: 0;
    }

    a {
        color: var(--white);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    @media screen and (max-width: 768px) {
        overflow: auto;
    }
}

.comment {
    color: var(--background-light);
}

.linkedin {
    color: var(--linkedin-col);
}

.github {
    color: var(--github-col);
}

.researchGate {
    color: var(--researchGate-col);
}

.main {
    color: var(--react-tag-col);
    text-wrap: wrap;
}

.name {
    color: var(--normal-tag-col);
    word-wrap: pre;
}

.brackets {
    color: var(--brackets-col);
}
