@use '../../scss/mixins' as *;

.footer {
    background-color: var(--background-dark);
    padding: var(--xs);
    text-align: center;
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    color: var(--background-light);
    @include flex(row, space-between, center);
    height: 10%;

    a {
        color: #999;
        &:hover {
            color: #666;
        }
    }

    &__icons {
        @include flex(row, center, center);
        gap: var(--xs);
    }

    &__name {
        color: var(--brackets-col);
    }

    @media only screen and (max-width: 1080px) {
        flex-direction: column-reverse;
        min-height: 5%;
        height: unset;
        gap: var(--xs);
    }
}
