:root {
	--background: #263238;
	--background-light: #475D67;
	--background-dark: #1A2327;
	--normal-tag-col: #DC6261;
	--brackets-col: #80CBC4;
	--react-tag-col: #DCAB61;
	--white: #FFFFFF;
	--comments-col: #38464E;
	--github-col: #6E5494;
	--linkedin-col: #0072B1;
}